@model User
@{ViewBag.isLogged = false;}
<head>
	<link rel="apple-touch-icon" sizes="76x76" href="~/res/images/shared/ool/tinyLogo.png">
	<link rel="icon" type="image/x-icon" href="~/res/images/shared/ool/favicon.ico">
	<title>OutOfLens - Home</title>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- SOCIAL MEDIA META -->
	<meta property="og:image" content="~/res/images/shared/publicity.png">
	<meta property="og:title" content="OutOfLens">
	<meta property="og:type" content="article">
	<meta property="og:url" content=@ViewBag.THIS_URL>
	<meta property="og:description" content="Não fazemos fotos, fazemos captação de luz com sensores digitais ;)">
	<meta property="og:site_name" content="OutOfLens || Home">

	<!-- STYLES OF NAV AND FOOTER ALL IN ONE RENDERED SCSS-->
	<link rel="stylesheet" type="text/css" href="~/css/navStyle.css" />
	<link rel="stylesheet" type="text/css" href="~/css/footerStyle.css" />
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-2 shadow-sm" id="navbar">
		<a class="navbar-brand mb-1 ml-1" href="@ViewBag.THIS_URL"><img alt="OutOfLens" id="navbar-logo" src="~/res/images/shared/ool/defaultLogo.png" /></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item active">
					<a class="nav-link" href="@ViewBag.THIS_URL">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/Admin">Administração</a>
				</li>
			</ul>
			<div id="nav-cad">
				@{
				if (ViewBag.isLogged)
				{
				<div class="d-flex justify-content-center pt-auto ml-lg-auto mb-3 mb-lg-0 mt-3 mt-lg-0">
					<p class="mr-4 mt-auto mb-auto text-white"> Filipi Bezera </p>
					<button class="btn btn-danger mr-2"> Sair </button>
				</div>
				}
				else
				{
				<button class="btn btn-primary ml-2" data-toggle="dropdown" id="loginDropdownButton">Entrar</button>
				<div class="dropdown-menu dropdown-menu-right mt-2 mr-2" id="loginDropdown">
					<form class="px-4 py-3">
						<div class="form-group">
							<label for="loginDropdownEmail">Email address</label>
							<input type="email" class="form-control" id="loginDropdownEmail" placeholder="email@exemplo.com">
						</div>
						<div class="form-group">
							<label for="loginDropdownLogin">Password</label>
							<input type="password" class="form-control" id="loginDropdownLogin" placeholder="Senha">
						</div>
						<div class="d-flex justify-content-start">
							<button type="submit" class="btn btn-primary mt-3">Entrar</button>
						</div>
					</form>
				</div>
				}
				}
			</div>
		</div>
	</nav>

	@RenderBody()

	<footer class="container-fluid" id="footer">
		<div class="row">

		</div>
	</footer>

	<!-- Jquery MIN js -->
	<script src="~/node_modules/jquery/dist/jquery.min.js"></script>

	<!-- Bootstrap js -->
	<script src="~/node_modules/bootstrap/dist/js/bootstrap.js"></script>

	<!-- Page script -->
	<script src="~/js/homeScript.js"></script>
</body>
