<button type="button" id="sidebarCollapse" class="btn btn-dark mt-3">
    <i class="fas fa-align-left"></i>
    <span> Menu </span>
</button>


<div class="row pl-5" style="margin-top:4rem;">

    <div class="col-1" style="color:#999">
        <p> Consultas </p>
    </div>

</div>

<div class="row d-flex justify-content-center text-center">


    <div class="col-12">
        <h2> Consultas </h2>
        <p class="px-3" style="margin-top:2rem;">
            Analise e gerencie dados cadastrados anteriormente no sistema através de tabelas intuitivas
            e construidas de maneira concisa.
        </p>
    </div>

</div>

<hr style="width:90%; margin-top:5rem;">

<div class="row d-flex justify-content-center" style="margin-top:4rem;">

    <div class="dropdown">
        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border:rgba(0, 0, 0, 0.2) 1px solid; padding-right:10px">
            <span style="padding-right:30px;"> @( ViewBag.CurrentOption ?? "Selecione aqui o que deve ser consultado" )  </span>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/Admin/Query/Employee"> Funcionário </a>
            <a class="dropdown-item" href="/Admin/Query/Customer"> Cliente </a>
            <a class="dropdown-item" href="/Admin/Query/Package"> Pacote </a>
            <a class="dropdown-item" href="/Admin/Query/Order"> Pedido </a>
            <a class="dropdown-item" href="/Admin/Query/Session"> Sessão </a>
        </div>
    </div>

</div>