@model TableViewModel

@{
    Layout = "_AdminLayout";
}

<div id="content" style="width:100%;">


    <div class="container-fluid">
        
        @await Html.PartialAsync("Query/_Start")

        <div class="row pl-5 mb-4" style="margin-top:4rem;">

            <div class="col-3">

                <h5>  @ViewBag.Header </h5>

            </div>

        </div>

        <div class="row pl-5">

            <div class="col-12" style="max-width: calc(100vw - 350px)">
            

                    @await Html.PartialAsync("Render/Table")


            </div>

        </div>

    </div>

</div>