
@model TableViewModel

@{
    Layout = "_AdminLayout";
}
<div id="content" style="width:100%;">


    <div class="container-fluid">
        
        @await Html.PartialAsync("Query/_Start");

    </div>

</div>
