@model User
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
	ViewBag.THIS_URL = Context.Request.Path;
}
<link rel="stylesheet" type="text/css" href="~/css/homeStyle.css">
<div class="container-fluid" id="page">
	<div class="row">
		<div id="img-fixed">
			<h1 id="titulo-home" class="d-flex justify-content-center text-white" style="margin-top:200px;"> OI BEZERRA </h1>
		</div> 
	</div>
	<div class="row mx-5" style="margin-top:100px;">
		<div class="col-12 col-lg-4 text-justify px-5 px-lg-5 mb-5 mb-lg-0">
			<h3 class="mb-3"> Sobre nós </h3>
			A <i> Out Of Lens </i> é um estúdio fotográfico jovem e moderno, que realiza os mais diversos tipos de serviços relacionados
			à arte da fotografia
		</div>
        <div class="col-12 col-md-6 col-lg-4 text-justify px-5 px-lg-5 mb-5 mb-lg-0">
            <h3 class="mb-3"> Sobre nós </h3>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
        <div class="col-12 col-md-6 col-lg-4 text-justify px-5 px-lg-5 mb-5 mb-lg-0">
            <h3 class="mb-3"> Sobre nós </h3>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>		
	</div>
</div>
