<button type="button" id="sidebarCollapse" class="btn btn-dark mt-3">
    <i class="fas fa-align-left"></i>
    <span> Menu </span>
</button>

<div class="row pl-5" style="margin-top:4rem;">

    <div class="col-1" style="color:#999">
        <p> Cadastros </p>
    </div>

</div>
<div class="row d-flex justify-content-center text-center">

    <div class="col-12">
        <h2> Cadastros </h2>
        <p class="px-3" style="margin-top:2rem;">
            Realize Inserções no banco de dados através de formulários simples e objetivos, que buscam maior otimização dos processos
            de gereciamento do sistema.
        </p>
    </div>

</div>

<hr style="width:90%; margin-top:5rem;">

<div class="row d-flex justify-content-center" style="margin-top:4rem;">

    <div class="dropdown">
        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border:rgba(0, 0, 0, 0.2) 1px solid; padding-right:10px">
            <span style="padding-right:30px;"> @( ViewBag.CurrentOption ?? "Selecione aqui o que deve ser Cadastrado") </span>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/Admin/Add/Customer"> Cliente </a>
            <a class="dropdown-item" href="/Admin/Add/Employee"> Funcionário </a>
            <a class="dropdown-item" href="/Admin/Add/Package"> Pacote </a>
            <a class="dropdown-item" href="/Admin/Add/Package_Type"> Tipo de Pacote </a>
            <a class="dropdown-item" href="/Admin/Add/Role"> Cargo </a>
        </div>
    </div>

</div>