@model OutOfLensWebsite.Models.Data.Customer

@{
    ViewBag.Title = "Cadastro";
    Layout = "_AdminLayout";
}


<div id="content" style="width:100%;">


    <div class="container-fluid">

        @await Html.PartialAsync("Insertion/_Start")

    </div>

</div>