
@model string

@{
    ViewBag.Title = "title";
    Layout = "_AdminLayout";
}

<link rel="stylesheet" href="~/node_modules/fullcalendar/main.css" />
<script src="~/node_modules/fullcalendar/main.js"></script>

<div class="container-fluid">

    <button type="button" id="sidebarCollapse" class="btn btn-dark mt-3">
        <i class="fas fa-align-left"></i>
        <span> Menu </span>
    </button>


    <div class="row pl-5 mb-5" style="margin-top:4rem;">

        <div class="col-2" style="color:#999">
            <p> Agenda </p>
        </div>
        <div class="col-8">

            <div id='calendar' class="w-100 mt-1 p-4 rounded" style="background-color: rgba(255, 255, 255, 1);"></div>

        </div>

    </div>

</div>

<script>

    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth'
        });
        calendar.render();
    });
</script>