
@model string

@{
    ViewBag.Title = "title";
    Layout = "_AdminLayout";
}

<div class="container-fluid">

    <button type="button" id="sidebarCollapse" class="btn btn-dark mt-3">
        <i class="fas fa-align-left"></i>
        <span> Menu </span>
    </button>


    <div class="row pl-5" style="margin-top:4rem;">

        <div class="col-2" style="color:#999">
            <p> Agenda </p>
        </div>

    </div>

</div>